
<html>
<head>
<title>TODO supply a title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<script
	src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {
      // email = $scope.email;
      // psw = $scope.psw;
      $http({ 
        method: "GET",
        url: "http://localhost:8080/angularjswithjdbc/AngularJsServlet"
        
        
      })./* then(function (response){
    	  $scope.myRes = response.data;
      }); */
      then(function mySuccess(response) {
          // a string, or an object, carrying the response from the server.
            $scope.myRes = response.data;
          
         // $scope.myRes = response.data.myArrayList;
          //document.write($scope.myRes);
          $scope.statuscode = response.status;
        }, function myError(response) {
          $scope.myRes = response.myArrayList;
      });     });
    </script>
</head>
<body ng-app="myApp">
	<div ng-controller="myCtrl" align="center">
		<!-- {{statuscode}} -->
		<h1>get values from postgrel</h1>
		<table border="2">
			<thead>
				<tr>
					<th>id</th>
					<th>name</th>
					<th>gender</th>
					<th>salary</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in myRes">
					<td>{{x.id}}</td>
					<td>{{x.uname}}</td>
					<td>{{x.upass}}</td>
					<td>{{x.email }}</td>
			</tbody>
			<!-- {{myRes}} -->
		</table>
		  <!-- <div ng-repeat="x in myRes">
                    <h3>{{x.uname+ "    " +x.upass+ "    "+x.email}}</h3>
                   
                </div> -->

	</div>
</body>
</html>